@font-face {
    font-family: 'ALK Sanet';
    src: url('fonts/ALKSanet.eot');
    src: url('../fonts/ALKSanet.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALKSanet.woff2') format('woff2'),
        url('../fonts/ALKSanet.woff') format('woff'),
        url('../fonts/ALKSanet.ttf') format('truetype'),
        url('../fonts/ALKSanet.svg#ALKSanet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('fonts/DejaVuSans-Oblique.eot');
    src: url('../fonts/DejaVuSans-Oblique.eot#iefix') format('embedded-opentype'),
        url('../fonts/DejaVuSans-Oblique.woff2') format('woff2'),
        url('../fonts/DejaVuSans-Oblique.woff') format('woff'),
        url('../fonts/DejaVuSans-Oblique.ttf') format('truetype'),
        url('../fonts/DejaVuSans-Oblique.svg#DejaVuSans-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

