@font-face {
    font-family: 'ALK Sanet';
    src: url('ALKSanet.eot');
    src: url('ALKSanet.eot?#iefix') format('embedded-opentype'),
        url('ALKSanet.woff2') format('woff2'),
        url('ALKSanet.woff') format('woff'),
        url('ALKSanet.ttf') format('truetype'),
        url('ALKSanet.svg#ALKSanet') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans-Oblique.eot');
    src: url('DejaVuSans-Oblique.eot?#iefix') format('embedded-opentype'),
        url('DejaVuSans-Oblique.woff2') format('woff2'),
        url('DejaVuSans-Oblique.woff') format('woff'),
        url('DejaVuSans-Oblique.ttf') format('truetype'),
        url('DejaVuSans-Oblique.svg#DejaVuSans-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

